div {
  text-align: center;
}

.joke-wrapper {
  padding: 15 px 10 px;
  border: 1px solid #aaaaaa;
  margin-bottom: 15px;
  margin-top: 15px;
}
.joke-wrapper .joke {
  display: flex;
}
.joke-wrapper .joke p {
  flex: 8;
  margin-left: 20px;
  text-align: left;
}
